@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #b1b1b1;
  background-color: #1e1e20;
}

.colorr:hover span {
  color: rgb(202, 138, 4);
}
